package-lock=false
registry=https://pkgs.dev.azure.com/azdatasite/_packaging/azuredatamicrositepackages/npm/registry/
always-auth=true
;@ms-fw:registry=https://fluentweb.pkgs.visualstudio.com/_packaging/ms.fw/npm/registry/
;//fluentweb.pkgs.visualstudio.com/_packaging/ms.fw/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJjZGJlZTFmMy0yNjZjLTQ2NDYtYWFjNC0wNGM0NWU1YzA5MzYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMzEzYjVmNTQtNzU4MC00YWRjLWJmZTYtZTI1ZDIyYzBlZmMzIiwic2lkIjoiNDg0NjllZGMtZGQ2Yy00MDBjLWE4MDgtMmYwNDgwM2VkODNiIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ODFjODQ1NDktOTg5ZC00MWVhLWFhMjgtNmFjODhhMmFkZDQ3IiwibmJmIjoxNTM4Njg1NTMxLCJleHAiOjE1NDY0NjIxMzF9.pnMDxMl66MdotUe9aMMjro4GtmVYpZNBWCpSn96pDEOZFi6F7F2FCZd2LM1gY7CbZgVvVFD8dFRVLAnEWJHzPguW1Foirc1b7frYLN104hawVcs1HaYLLsrZX-QT9U3NnIToDZBYlcoEZPMHuBWb_x_xORr1fi5IqIR0uBcUW7o9EkEM9b9HvkGGRNGEC1eM4sOFQwYPQkhj14FQ_9usJ0WaFb4XnuAWnAqp8LU5lgaYryJvvT-xnn2cStKmPuzKY1GwOZGs5I590byWKJXKatQ4tvuqQS0HfEOMkC4NiZRnnRJ3XAunUzm440Ej_awGQwYX6JYLpsz9WzLobi5-qA
;//fluentweb.pkgs.visualstudio.com/_packaging/ms.fw/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJjZGJlZTFmMy0yNjZjLTQ2NDYtYWFjNC0wNGM0NWU1YzA5MzYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMzEzYjVmNTQtNzU4MC00YWRjLWJmZTYtZTI1ZDIyYzBlZmMzIiwic2lkIjoiNDg0NjllZGMtZGQ2Yy00MDBjLWE4MDgtMmYwNDgwM2VkODNiIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286ODFjODQ1NDktOTg5ZC00MWVhLWFhMjgtNmFjODhhMmFkZDQ3IiwibmJmIjoxNTM4Njg1NTMxLCJleHAiOjE1NDY0NjIxMzF9.pnMDxMl66MdotUe9aMMjro4GtmVYpZNBWCpSn96pDEOZFi6F7F2FCZd2LM1gY7CbZgVvVFD8dFRVLAnEWJHzPguW1Foirc1b7frYLN104hawVcs1HaYLLsrZX-QT9U3NnIToDZBYlcoEZPMHuBWb_x_xORr1fi5IqIR0uBcUW7o9EkEM9b9HvkGGRNGEC1eM4sOFQwYPQkhj14FQ_9usJ0WaFb4XnuAWnAqp8LU5lgaYryJvvT-xnn2cStKmPuzKY1GwOZGs5I590byWKJXKatQ4tvuqQS0HfEOMkC4NiZRnnRJ3XAunUzm440Ej_awGQwYX6JYLpsz9WzLobi5-qA
